* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.card {
    border-radius: 1px;
    width: 363px;
    padding: 16px 16px 20px 16px;
    border-radius: 10px;
    box-shadow: 6px 5px 10px 5px rgba(0, 0, 0, 0.047)
}

.card img {
    border-radius: 10px;
    margin-bottom: 16px;
}

.desingn {
    background-color: #E6D6FC;
    border-radius: 10px;
    width: fit-content;
    text-align: center;
    margin-bottom: 16px;
}

.desingn p {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-size: 12px;
    color: #883AE1;
    padding: 6px 16px;

}

.content h4 {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-size: 18px;
    margin-bottom: 6px;
    color: #20293A;
}

.content p:nth-last-child(2) {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 20px;
    color: #6C727F;
}

.autor {
    border-top-style: solid;
    border-top-width: 1px;
    border-color: #E5EAF0;
    width: 363px;
    margin-left: -16px;
}

.autor p {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-size: 12px;
    font-weight: 300;
    color: #20293A;
    padding-top: 20px;
    padding-left: 16px;
}